﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Error404.aspx.cs" Inherits="Error404" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <center >
<br />
<br />
<br />
<br />
<br />
<br />
<b>Error 404!</b>
</center>
</asp:Content>

