<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ReportVSCollectionSummaryView.aspx.vb" Inherits="ReportVSCollectionSummaryView" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<link href="style/main.css" rel="stylesheet" type="text/css" />
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table class="contentmain">
            <tr>
                <td colspan="3" style="text-align: center">
                    <asp:Label ID="GOI" runat="server" Font-Bold="True" Text="Government of India" Visible="False"></asp:Label></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center">
                    <asp:Label ID="MHA" runat="server" Font-Bold="True" Text="Mnistry of Home Affairs"
                        Visible="False"></asp:Label></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center">
                    <asp:Label ID="NCRB" runat="server" Font-Bold="True" Text="National Crime Records Bureau"
                        Visible="False"></asp:Label></td>
            </tr>
            <tr>
                <td colspan="3"><asp:Label ID="lblMoney" runat="server" Font-Bold="True" 
                        Visible="False"></asp:Label>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center">
                    <asp:Label ID="VS" runat="server" Font-Bold="True" Text="Vahan Samanvay" Visible="False"></asp:Label></td>
            </tr>
           
            <tr>
                <td colspan="3" style="text-align: center">
                    <asp:Label ID="LISTOFSTOLEN" runat="server" Text="Collection Report"
                        Visible="False"></asp:Label>
                    <asp:TextBox ID="DTFROM" runat="server" Visible="False" BorderStyle="None"></asp:TextBox>
                    <asp:Label ID="LISTTO" runat="server" Text="to" Visible="False"></asp:Label>
                    <asp:TextBox ID="DTTO" runat="server" Visible="False" BorderStyle="None"></asp:TextBox></td>
            </tr>
        </table>
        <br />
        <div align="center">
        <asp:Repeater ID="Repeater1" runat="server">
            <HeaderTemplate>
                <table border='1' cellpadding='0' cellspacing='0' class="report">
   
                    <tr class="heading">
                    <td>
                    User
                    </td>
                        <td>
                        Date
                        </td>
                        <td>
                            AMOUNT

                    </tr>
            </HeaderTemplate>
            <ItemTemplate>
                <tr>
                <td>
                <%# DataBinder.Eval(Container, "DataItem.vcUsername")%>
                </td>
                    <td>
                    <%# DataBinder.Eval(Container, "DataItem.dtEnqdt")%>
                    </td>
                     <td align="right">
                         <%# DataBinder.Eval(Container, "DataItem.Cash")%>
                    </td>
                </tr>
            </ItemTemplate>
            <FooterTemplate>
                <%Response.Write("<tr><td></td><td>" & totalprint() & "</td></tr>")%>
                </table>
            </FooterTemplate>
        </asp:Repeater>
        </div>
        
        <asp:LinkButton ID="Lnkbtnprev" runat="server" Visible="False">Previous</asp:LinkButton>
        <asp:LinkButton ID="LnkbtnNext" runat="server" Visible="False">Next</asp:LinkButton></div>
    </form>
</body>
</html>
