﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Error501.aspx.cs" Inherits="Error501" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<center >
<br />
<br />
<br />
<br />
<br />
<br />
<b>Error 501!</b>
</center>
</asp:Content>

