﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="InternetQuery.aspx.cs" Inherits="InternetQuery" Theme="emsTheme"  ValidateRequest="true"  EnableViewState="true" EnableViewStateMac="true" ViewStateEncryptionMode="Always" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Vahan Samanvay Internet Query</title>
    <link href="style/main.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .style1
        {
            color: #800000;
            font-weight: bold;
        }
        .style2
        {
            text-decoration: underline;
        }
        .style3
        {
            text-decoration: none;
        }
        .style4
        {
            height: 22px;
        }
    </style>
    <script language="javascript" type="text/javascript">
        function openNewWindowscontact() {
            window.open("Contact us.htm");
        }
    
        function openNewWindowsFAQ() {
            window.open("Frequently asked questions InternetQuery.pdf");
        }
        function openNewWindowsHelp() {
            window.open("Vahan Samanvay Public.pdf");
        }

    </script>
    <script language="javascript" type="text/javascript">

        function openWin(url) {
            var win = window.open('', '', 'width=1,height=1,left=0,top=0,scrollbars=no');
            if (win) {
                if (win.open && !win.closed)
                    win.close();
                var scrWidth = screen.width - 10;
                var scrHeight = screen.height;
                var windowProperties = "status=yes,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,height=" + scrHeight + ",width=" + scrWidth + ",top=0,left=0";
                window.open(url, "_blank", "");
                opener = self;
                opener.close();

            }

            else

                window.location = "PopupBlockers.aspx";

        }

</script>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
    <div>
     <%--<asp:UpdatePanel ID="UpdatePanel1" runat="server"  UpdateMode="Conditional">--%>
 <Triggers> 
<asp:PostBackTrigger ControlID="btnSearch" /> 
<asp:PostBackTrigger ControlID="btnrefresh"></asp:PostBackTrigger>
</Triggers> 
 <ContentTemplate>
        <table class="contentmain">
 <tr> <td>
 
    <table width="80%" align="center" border="0" cellpadding="0" cellspacing="0" class="tablerowcolor" runat="server">
            <tr> <td colspan="3" > <asp:Image ID="Image1" runat="server" 
                    AlternateText="NCRB CCTNS Image" ImageUrl="~/img/BlueVSHead4.jpg" 
                    Width="100%"/>
               </td> </tr>
            
            
            <tr class="heading"><td colspan="3">Vehicle Enquiry</td></tr>
            <tr> <td colspan="3"> </td></tr>
             <tr>
                 <td >
                     Type of search
                  </td>
                
                 <td colspan="2">
                    <asp:RadioButton ID="rbRecoverStatus" runat="server" 
                        Text="Verify recovery status of stolen vehicle" GroupName="Internet"/>
                    <asp:RadioButton ID="rbSecondHand" runat="server" 
                        Text="Verify status of 2nd hand vehicle (Stolen or Not)"  
                         GroupName="Internet" Checked="True"/>
                 </td>
             </tr>

             <tr>
                 <td class="style4">
                     <asp:Label ID="lblName" runat="server" Text="Name" 
                         style="font-weight: 700; color: #800000"></asp:Label>
                 </td>
                 <td class="style4" >
                     <asp:TextBox ID="txtAppName" runat="server" MaxLength="100" Width="300px" TabIndex="1" ></asp:TextBox>
                 </td>
                 <td class="style4" >
                    <asp:RequiredFieldValidator ID="RqfvName" runat="server" 
                 ControlToValidate="txtAppName" ForeColor="Red" 
                   Text=""  ErrorMessage="Please enter your name" Display="Dynamic"></asp:RequiredFieldValidator>
                 </td>  
             </tr>

             <tr>
                 <td>
                         <asp:Label ID="lblAddress" runat="server" Text="City"></asp:Label>
                 </td>
                 <td >
                     <asp:TextBox ID="txtAddress" runat="server"  MaxLength="1000" 
                        TextMode="MultiLine" Width="300px" TabIndex="2"></asp:TextBox>
                 </td>
                     <td>
                        
                   </td>
             </tr>

              <tr>
                 <td>
                   <asp:Label ID="lblPinCode" runat="server" Text="Pin Code" ></asp:Label>       </td>        
                 <td>
                     <asp:TextBox ID="txtPinCode" runat="server" TabIndex="3" width="148px" ></asp:TextBox>
                 </td> 
                 <td> </td>             
             </tr>
      
             <tr>
                 <td>
                     <asp:Label ID="lblState" runat="server" Text="State" style="color: #800000" visible="false" ></asp:Label>
                 </td>
                 <td>
                   <asp:DropDownList  id="ddStateName"  AutoPostBack="true" Width="300px"   OnSelectedIndexChanged="ddStateName_SelectedIndexChanged" runat="server"  TabIndex="4" Visible="false" ></asp:DropDownList>
                 </td>
                     <td>
                    <asp:RequiredFieldValidator ID="rfvState" runat="server" 
                 ErrorMessage="Please select your State to which you belong"
                   ForeColor="Red" ControlToValidate="ddStateName" 
                   InitialValue="--Select--" Display="Dynamic" Visible="false" ></asp:RequiredFieldValidator>
                 </td>  
             </tr>
       
             <tr>
                 <td  >
                     <asp:Label ID="lblDistrict" runat="server" Text="District"  visible="false" ></asp:Label>
                     </td>
                 <td>
                    <asp:DropDownList id="ddDistrictName" runat="server" Width="300px"  AutoPostBack="True" OnSelectedIndexChanged="ddDistrictName_SelectedIndexChanged"  TabIndex="5" Visible="false" ></asp:DropDownList>
                     </td>
                     <td class="style13" ></td>
             </tr>
       
             <tr>
                 <td>
                     <asp:Label ID="Label1" runat="server" Text="PS" visible="false"></asp:Label>
                 </td>
                 <td>
                    <asp:DropDownList ID="ddPsName" runat="server" CssClass="dropdownlistCss" Width="300px" TabIndex="6" Visible="false" >
                    </asp:DropDownList>
                    </td>
                     <td ></td>
             </tr>
       
             <tr>
                 <td>
                     <asp:Label ID="lblMobile" runat="server" Text="Mobile" ></asp:Label>
                 </td>
                 <td>
                    <asp:TextBox ID="txtMobile" runat="server" MaxLength="12" Width="300px" TabIndex="7" ></asp:TextBox>
                    </td>
                     <td >
                      
                 </td>
             </tr>
       
             <tr>
                 <td>
                     <asp:Label ID="lblEmail" runat="server" Text="EMail" ></asp:Label>
                 </td>
                 <td>
                    <asp:TextBox ID="txtEmail" runat="server" Width="300px" TabIndex="8" ></asp:TextBox>
                      </td>
                     <td>
                      <asp:RegularExpressionValidator
                   ID="RegularExpressionValidator1" runat="server" ControlToValidate="txtEmail"
                   ForeColor="Red" Display="Dynamic" ErrorMessage="Please enter a valid email address"
                   ValidationExpression="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*">
             </asp:RegularExpressionValidator>
                 </td> 
             </tr>
       
             <tr>
                 <td >
                     <asp:Label ID="lblType" runat="server" Text="Vehicle Type" 
                         style="color: #800000; font-weight: 700" ></asp:Label>
                 </td>
                 <td >
                <asp:DropDownList id="ddVehTypeName" runat="server" Width="300px" TabIndex="9" AutoPostBack="True" OnSelectedIndexChanged="ddVehTypeName_SelectedIndexChanged"></asp:DropDownList>
                 </td>
                     <td>
                 <asp:RequiredFieldValidator ID="rfvVehicleType" runat="server" 
               ErrorMessage="Please select your Vehicle Type"
                   ForeColor="Red" ControlToValidate="ddVehTypeName" 
                   InitialValue="" Display="Dynamic"></asp:RequiredFieldValidator>
                 </td>
             </tr>
       
             <tr>
                 <td >
                     <asp:Label ID="lblMake" runat="server" Text="Vehicle Make"  ></asp:Label>
                 </td>
                 <td >
                    <asp:DropDownList ID="ddMakeName" runat="server"  Width="300px" TabIndex="10">
                    </asp:DropDownList>
                 </td>
                     <td ></td>
             </tr>
       
             
       
             <tr>
                 <td class="style1" >
                     <asp:Label ID="lblRegistration" runat="server" Text="Registration" 
                         CssClass="style1" ></asp:Label>
                 </td>
                 <td >
                    <asp:TextBox ID="txtRegistration" runat="server" MaxLength="40" Width="300px" TabIndex="12"></asp:TextBox>
                   </td>
                   <td>
                    
                 </td>
             </tr>
       
             <tr>
                 <td class="style1">
                     <asp:Label ID="lblChasis" runat="server" Text="Chasis" CssClass="style1" ></asp:Label>
                 </td>
                 <td>
                    <asp:TextBox ID="txtChasis" runat="server" MaxLength="40" Width="300px" TabIndex="13"></asp:TextBox>
                    </td>
                   <td>
            

                 </td>
                     
             </tr>
       
             <tr>
                 <td class="style1">
                     <asp:Label ID="lblEngine" runat="server" Text="Engine" CssClass="style1" ></asp:Label>
                 </td>
                 <td>
                    <asp:TextBox ID="txtEngine" runat="server" MaxLength="40" Width="300px" TabIndex="14"></asp:TextBox>
                    </td>
                   <td>

                    <asp:CustomValidator id="CustomValidator1" runat="server" 
      OnServerValidate="TextValidate" 
      Display="Dynamic"
      ErrorMessage="One of the Registration, Chasis or Engine must have valid input.">
    </asp:CustomValidator>
                     
                 </td>
                     
             </tr>

       
             <tr>
                 <td>
                 <asp:Label ID="lblYear" runat="server" Text="Year of Manufacture"  ></asp:Label>
                     </td>
                 <td>
                     <asp:TextBox ID="txtYear" runat="server" Width="300px" TabIndex="15" ></asp:TextBox>
                 </td>
                     <td></td>
                
             </tr>
       <tr>
                 <td>
                     <asp:Label ID="lblColor" runat="server" Text="Color"  ></asp:Label>
                 </td>
                 <td>
                   <asp:DropDownList id="ddColName" TabIndex="11" runat="server" Width="300px" ></asp:DropDownList></td>
                     <td></td>
             </tr>
             <tr>
                 <td> &nbsp;</td>
                <td></td>
             </tr>
       
             <tr>
                 <td >
                     <asp:Label ID="lblmsg" runat="server" Text="Label"></asp:Label>
                 </td>
                 <td class="style15" >
                     <asp:Button ID="btnSearch" runat="server" onclick="btnSearch_Click2" 
                         TabIndex="17" Text="Search" />
                     <asp:Button ID="btnrefresh" runat="server"  TabIndex="18" Text="Refresh" 
                         onclick="btnrefresh_Click1" CausesValidation="False"  />
                 </td>
                     <td >
                         &nbsp;</td>
                
             </tr>
             <tr>
             <td colspan="2" style="text-align: center">
             
              <cc1:FilteredTextBoxExtender ID="fetxtRegistrationno" runat="server" FilterMode="InvalidChars" InvalidChars="!+=-/\ @#$%^&amp;*(){}[].,:'<> " TargetControlID="txtRegistration">
                    </cc1:FilteredTextBoxExtender>
                   <cc1:FilteredTextBoxExtender ID="fetxtChasisno" runat="server" FilterMode="InvalidChars" InvalidChars="!+=-/\ @#$%^&amp;*(){}[].,:'<> " TargetControlID="txtChasis">
                    </cc1:FilteredTextBoxExtender>
                    <cc1:FilteredTextBoxExtender ID="fetxtEngineno" runat="server" FilterMode="InvalidChars" InvalidChars="!+=-/\ @#$%^&amp;*(){}[].,:'<> " TargetControlID="txtEngine">
                    </cc1:FilteredTextBoxExtender>
                    <cc1:TextBoxWatermarkExtender ID="tbwm1" runat = "server" TargetControlID="txtRegistration" WatermarkText="Enter Registration No"></cc1:TextBoxWatermarkExtender>
                    <cc1:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender1" runat = "server" TargetControlID="txtChasis" WatermarkText="Enter Chasis No"></cc1:TextBoxWatermarkExtender>
                    <cc1:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender2" runat = "server" TargetControlID="txtEngine" WatermarkText="Enter Engine No"></cc1:TextBoxWatermarkExtender>
                    <cc1:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender3" runat = "server" TargetControlID="txtYear" WatermarkText="Enter Year of Manufacture"></cc1:TextBoxWatermarkExtender>
                    <cc1:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender5" runat = "server" TargetControlID="txtAppName" WatermarkText="Enter Name"></cc1:TextBoxWatermarkExtender>
                    <cc1:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender6" runat = "server" TargetControlID="txtAddress" WatermarkText="Enter City"></cc1:TextBoxWatermarkExtender>
                    <cc1:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender7" runat = "server" TargetControlID="txtPinCode" WatermarkText="Enter Pincode"></cc1:TextBoxWatermarkExtender>
                    <cc1:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender8" runat = "server" TargetControlID="txtMobile" WatermarkText="Enter Mobile"></cc1:TextBoxWatermarkExtender>
                    Visitor no.
                 <asp:Label ID="InternetVisitor" runat="server"></asp:Label>
              
             </td>
             </tr>
       
            <tr>
                <td colspan="2" style="text-align: center">
                    <asp:HyperLink ID="HelpPublic" runat="server"  onclick="openNewWindowsHelp()" 
                        style="cursor:pointer; text-decoration:underline; color:Blue"
                        >Help</asp:HyperLink>
                    &nbsp;<asp:HyperLink ID="Faq" runat="server" onclick="openNewWindowsFAQ()" 
                        style="cursor:pointer; text-decoration:underline; color:Blue"
                        >FAQ</asp:HyperLink>
                    &nbsp;<asp:HyperLink ID="contactus" runat="server" 
                                     onclick="openNewWindowscontact()" 
                        style="cursor:pointer; text-decoration:underline; color:Blue" >Contact us</asp:HyperLink>
                </td>
            </tr>
       
         </table>

    </td> </tr></table>
    </ContentTemplate>
    </asp:UpdatePanel>
    </div>
    </form>
    <p style="text-align: center">
                                            <strong><span class="style2">Browser Settings:
                                            <br />
                                            </span>Please Turn off the Popup Blocker for this site.
                                            <br />
                                            Under Internet Options/Tabs Settings/Always open pop ups in a new tab<br />
                                        Please Select Print Background colours and images 
                                            <br />
                                            from Internet 
                                        Options/Advance/Printing</strong></strong>&nbsp;&nbsp;</p>
    <p style="text-align: center">
        &nbsp;</p>
</body>
</html>
