﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PoliceQryOutputownership.aspx.cs" Inherits="PoliceQryOutputownership" %>
<html>
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <table style="width: 593px; height: 128px" align="center">
                <tr>
                    <td class="style2">
                        <asp:Image ID="Image1" runat="server" ImageUrl="~/img/logo.jpg" Height="82px" Width="87px" />
                    </td>
                    <td style="width: 289px; height: 81px;" align="center">
                        <strong><span style="font-size: 10pt">Government of India<br />
                            <%-- &nbsp;भारत सरकार&nbsp;<br />--%>Ministry of Home Affairs
                            <%--    <br />
                            गृह मंत्रालय--%>
                            <br />
                            National Crime Records Bureau
                            <%-- <br />
                            राष्ट्रीय अपराध रिकार्ड ब्यूरो--%>
                            <br />
                        </span></strong>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; font-size: 10pt" colspan="2">
                        <strong>National Highway - 8, Service Road, <br />Mahipalpur, New Delhi - 110037<br />
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; font-size: 10pt">
                        <strong><span class="style8"><span class="style11">Vehicle Enquiry Report</span><br
                            class="style11" />
                            Police Enquiry Ownership Details</span><br class="style11" />
                        </strong>
                    </td>
                </tr>
                <tr>
                <td>Registration No</td>
                <td><asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
                </td>
                </tr>
                <tr>
                <td>Chasis No</td>
                <td>
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
        </td>
        </tr>
        <tr>
        <td>Engine No</td>
        <td>
        <asp:Label ID="Label3"
            runat="server" Text="Label"></asp:Label></td>
            </tr>
            <% Response.Write(findowneralone1());%>
            </table>
    <div>
        
    
 
    </div>
    </form>
</body>
</html>
