﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PopupBlockers.aspx.cs" Inherits="PopupBlockers" Theme="emsTheme"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Vahan Samanvay Error</title>
</head>
<body style="text-align: center">
    <form id="form1" runat="server">
    <div>
        <br />
        <br />
        <asp:Image ID="Image1" runat="server" ImageUrl="~/img/BlueVSHead3.jpg" 
            style="margin-top: 0px" />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    <asp:label ID="lblError" runat="server" Style="position: relative; top: 87px" CssClass="head"></asp:label>
    </div>
    <p>
                                        <asp:Button ID="btnLogin" CssClass="btn" Text="Login" 
                                            runat="server" OnClick="btnLogin_Click" Visible="false" />
                                    </p>
    </form>
</body>
</html>
