BODY {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	
}
.dataTbl1 {
	FONT-SIZE: 12pt;
	FONT-FAMILY:  Arial, Helvetica, sans-serif,Verdana;
    border-color:#D6EDFC;
    border-collapse:collapse;
    background-color:White;
}
.legendstyle {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.GridHeader {
	FONT-SIZE:11px;
	font-weight:bold;
	FONT-FAMILY: Verdana;
	text-align:center;
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px; 
	HEIGHT: 20px;
	color:Black;
	BACKGROUND-COLOR: #ffcccc;
	
	}
	.GridHeaderText {
	FONT-SIZE:10px;
	font-weight:bold;COLOR: #000000;
	FONT-FAMILY: Verdana;
	text-align:center;
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px; 
	HEIGHT: 15px;
	}
	.GridText {
	FONT-SIZE:9px;
	FONT-FAMILY: Verdana;
	font-style:normal;
	text-align:left;
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px; 
	HEIGHT: 15px;
	}
	.gridFixedHeader {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-FAMILY: Verdana;Z-INDEX: 500; BORDER-LEFT: #000000 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffd166; TEXT-ALIGN: center
    }
.gridFixedHeader2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid;FONT-FAMILY: Verdana; FONT-WEIGHT: bold; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: #ffd166; TEXT-ALIGN: center
}
	
.dataTbl {
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif,Verdana;
    text-align :Left;
 
}
.container 
{
	overflow:auto;
}
.container table th {position:relative;}

.container table tbody {overflow-x:hidden;} 

.dataTbl1 {
	FONT-SIZE: 12pt;
	FONT-FAMILY:  Arial, Helvetica, sans-serif,Verdana,;
    border-color:White;
    border-collapse:collapse;
}


.dataTbl .datatblDet
{
	font-weight: normal;
	background-color: #fff5da;
	text-align: left;
}
.filterTbl {
	font-size: 10px;
	background-color: #D6EDFC;
	border: 1px solid #FFE195;
}
.filterTbl TD {
	padding: 2px;
	font-weight: bold;
}
.cleGrid
{
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	}

.cleGrid TD {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px; 
	HEIGHT: 20px; 
	TEXT-ALIGN: center;
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.TblSelfResig TD {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px; 
	HEIGHT: 20px; 
	TEXT-ALIGN: Left;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.dataTbl TD {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px; 
	HEIGHT: 20px; 
	TEXT-ALIGN: Center;
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif,Verdana;
}
.datatblPager {
	FONT-WEIGHT: bold; 
	BACKGROUND-COLOR: #D6EDFC;
	FONT-SIZE: 12pt;
	FONT-FAMILY:  Arial, Helvetica, sans-serif,Verdana;
	height:35px;
	TEXT-ALIGN: left;
	
}
.datatblheads {
	FONT-WEIGHT: bold; 
	BACKGROUND-COLOR: #D6EDFC;
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif,Verdana;
	height:35px;
	vertical-align:top;
	
}

.datatblheads_report {
	FONT-WEIGHT: bold; 
	TEXT-ALIGN:Left ;
	BACKGROUND-COLOR: #D6EDFC;
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif,Verdana;
	height:35px;
	vertical-align:top;

}
.datatblheadsForEmployee {
	FONT-WEIGHT: bold; 	
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif,Verdana;
	height:35px;
	vertical-align:bottom;	
}

.clerenceheads {
	FONT-WEIGHT: bold; 
	BACKGROUND-COLOR: #D6EDFC;
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	height:35px;
	vertical-align:top;
	
}
.btn {
	BORDER-RIGHT:#0044c9 1px solid; 
	BORDER-TOP: #0044c9 1px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10pt; 
	BACKGROUND-IMAGE: url(btnBg.gif); 
	BORDER-LEFT: #0044c9 1px solid; 
	COLOR: #000000; 
	BORDER-BOTTOM: #0044c9 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	HEIGHT: 27px
}

.buttn {
	BORDER-RIGHT:#0044c9 1px solid; 
	BORDER-TOP: #0044c9 1px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 8pt; 
	BACKGROUND-COLOR: #E8F4FD; 
	BORDER-LEFT: #0044c9 1px solid; 
	COLOR: #000000; 
	BORDER-BOTTOM: #0044c9 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	HEIGHT: 27px
}

.button{
	BORDER-RIGHT:#0044c9 1px solid; 
	BORDER-TOP: #0044c9 1px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10pt; 
	BACKGROUND-COLOR: #E8F4FD; 
	BORDER-LEFT: #0044c9 1px solid; 
	COLOR: #000000; 
	BORDER-BOTTOM: #0044c9 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	HEIGHT: 27px
}
.cleGrid .datatblDet {
	FONT-WEIGHT: normal; 
	BACKGROUND-COLOR: #fff5da; 
	TEXT-ALIGN: left;
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif,Verdana;
}
.dataTbl .datatblDet {
	FONT-WEIGHT: normal; 
	BACKGROUND-COLOR: #fff5da; 
	TEXT-ALIGN: left;
	FONT-SIZE: 12pt;
	FONT-FAMILY:  Arial, Helvetica, sans-serif,Verdana;
}


.comboSize {
	FONT-SIZE: 8pt; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.filterTbl {
	BORDER-RIGHT: #A9E0F5 1px solid; 
	BORDER-TOP: #A9E0F5 1px solid; 
	BORDER-LEFT: #A9E0F5 1px solid; 
	BORDER-BOTTOM: #A9E0F5 1px solid; 
	BACKGROUND-COLOR: #D6EDFC;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.filterTbl TD {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 2px; 
	PADDING-TOP: 2px
}

.filterTbl_darkblue {
	BORDER-RIGHT: #ffe195 1px solid; 
	BORDER-TOP: #ffe195 1px solid; 
	BORDER-LEFT: #ffe195 1px solid; 
	BORDER-BOTTOM: #ffe195 1px solid; 
	BACKGROUND-COLOR: #D6EDFC;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.filterTbl_darkblue TD {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 2px; 
	PADDING-TOP: 2px
}
.filterTbl_lightblue {
	BORDER-RIGHT: #ffe195 1px solid; 
	BORDER-TOP: #ffe195 1px solid; 
	BORDER-LEFT: #ffe195 1px solid; 
	BORDER-BOTTOM: #ffe195 1px solid; 
	BACKGROUND-COLOR: #E8F4FD;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.filterTbl_lightblue TD {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 2px; 
	PADDING-TOP: 2px
}
.pageTitle {
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 10px; 
	COLOR: #0045c9; 
	PADDING-TOP: 10px;
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	height:20px;
}
.pagingTitle {
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 10px; 	
	PADDING-TOP: 10px;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.copyrights {
	FONT-SIZE: 10px
}
.toplinks {
	FONT-SIZE: 9px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.toplinks A:visited {
	FONT-SIZE: x-small; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: Verdana; FONT-VARIANT: small-caps
}
.toplinks A:link {
	FONT-SIZE: smaller; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: Verdana; FONT-VARIANT: small-caps
}
.errortext {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #cc0033; FONT-FAMILY: Verdana; FONT-VARIANT: small-caps
}
.txtStyle {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txtStyles {
	FONT-SIZE: 11px; font-weight:bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.cleGrid  .datatblmainheads {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffd166; TEXT-ALIGN: center
}
.cleGrid  A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px;FONT-FAMILY: Verdana; COLOR: #000000; TEXT-DECORATION: underline
}
.cleGrid  A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px;FONT-FAMILY: Verdana; COLOR: #000000; TEXT-DECORATION: underline
}
.dataTbl .datatblmainheads {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffd166; TEXT-ALIGN: center
}
.dataTbl A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt;FONT-FAMILY: Verdana; COLOR: #000000; TEXT-DECORATION: underline
}
.dataTbl A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt;FONT-FAMILY: Verdana; COLOR: #000000; TEXT-DECORATION: underline
}


.error {
	FONT-WEIGHT: bold; FONT-SIZE: 9px;FONT-FAMILY: Verdana; COLOR: #ffff00
}
.loginbg {
	BACKGROUND-IMAGE: url(loginBg.gif); BACKGROUND-REPEAT: no-repeat
}
.pendingCL {
	BACKGROUND-COLOR: #f14646
}
.pendingPL {
	BACKGROUND-COLOR: #f26521
}
.saveCLNF {
	BACKGROUND-COLOR: #addea8
}
.finalSCL {
	BACKGROUND-COLOR: #d9a8de
}
.fsehs {
	BACKGROUND-COLOR: #b7ffda
}
.fshra {
	BACKGROUND-COLOR: #cfff83
}
.clr {
	BACKGROUND-COLOR: #72dfff
}
.cc {
	BACKGROUND-COLOR: #ffec72
}
.ctcPlanTbl {
	FONT-SIZE: 10px
}
.ctcPlanTbl TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.ctcPlanTbl .ctcheads {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffe098
}
.commonTbl {
	FONT-SIZE: 11px
}
.commonTbl TD {
	
}
.red {
	COLOR: #ff0000
}
.commonTbl .commontblhead {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffe098
}
A.homepagelink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
A.homepagelink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana;COLOR: #000000; TEXT-DECORATION: underline
}
.commonTbl A:visited {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana; COLOR: #000000; TEXT-DECORATION: underline
}
.commonTbl A:link {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana; COLOR: #000000; TEXT-DECORATION: underline
}
.tabTbl {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
	}
.tabTbl TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
	 
}
.tabTbl A:visited {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana; COLOR: #ff0000; TEXT-DECORATION: underline
}
.tabTbl A:link {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana; COLOR: #ff0000; TEXT-DECORATION: underline
}
.tabTbl A:hover {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: underline
}
.gridFixedHeader {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-FAMILY: Verdana;Z-INDEX: 500; BORDER-LEFT: #000000 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffd166; TEXT-ALIGN: center
}
.gridFixedHeader2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid;FONT-FAMILY: Verdana; FONT-WEIGHT: bold; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: #ffd166; TEXT-ALIGN: center
}
.welcomeTxt {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px;FONT-FAMILY: Verdana; FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-VARIANT: normal
}
.gridFixedHeader1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-FAMILY: Verdana; Z-INDEX: 500; BORDER-LEFT: #000000 1px solid;   BACKGROUND-COLOR: #ffd166; TEXT-ALIGN: center
}
.SalStyle {
	FONT-SIZE: 12px; LINE-HEIGHT: 16.8pt; FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify; FONT-VARIANT: normal
}
.topNav {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.topNav A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.topNav A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.topNav A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.topMenuNav {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.topMenuNav A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.topMenuNav A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.counter {
	FONT-FAMILY: Verdana; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; TEXT-ALIGN: right
}
.First{
    background-color:  #D6EDFC  ;    
}
.MainMenu{
    background-color:  #D6EDFC  ; FONT-FAMILY: Verdana; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600  
}
.second{
  background-color: AliceBlue ;
  FONT-SIZE: 11px;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	
}
.firstLevel{
  background-color: #E8F4FD ; vertical-align:top;
	
}
.secondLevel{
  background-color: #f8f8ff ;vertical-align:top;
	
}
.HrLevel{
  background-color: #f0f8ff ;vertical-align:top;
	
}
.EmpLevel{
  background-color: #ffe4e1 ;vertical-align:top;
	
}
.AbsLevel{
  background-color: Bisque ;vertical-align:top;
	
}
.newInit{
  background-color: #D1DDF1 ;
	
}

.newBack{
  background-color: #FFFFFF ;
  font-family: Verdana;
  font-size:small;
	
}

/*.freezTop
{	   
	 
       top			      : expression(this.parentNode.parentNode.parentNode.scrollTop-1);   
       font-weight		  : bold;
	  /* top 			  : expression(this.offsetParent.scrollTop-2);  
       CURSOR			  : default; 
       text-align         : center;  
       POSITION			  : relative;
       z-index			  : 9999;
       border-top-style   : solid;
       border-right-style : solid;
       border-left-style  : solid;
       border-top-width   : 1px;
       border-right-width : 1px;
	   border-left-width  : 1px;

}
.freez
{
       left     : expression(parentNode.parentNode.parentNode.parentNode.scrollLeft) ;    
     /*Left    : expression(this.offsetParent.scrollLeft);
       CURSOR  : default;
       POSITION: relative;
       
       z-index : 9999;

}*/

.topRightMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #D6EDFC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.HomeMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #D6EDFC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.HFirst{
    background-color: #E8F4FD  ;  PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #0045c9; PADDING-TOP: 10px;  
}
.HFirstClearance{
    background-color:#E8F4FD  ;  PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR:Black;  vertical-align:text-top;  
}
.HText{
   FONT-WEIGHT:normal; FONT-SIZE: 12px; border-color:Blue;  vertical-align:text-top;
}
.HFont{
   FONT-WEIGHT:normal; FONT-SIZE: 12px;vertical-align:text-top;
}
.ErrorMsg {
	FONT-WEIGHT: bold;  FONT-SIZE: 14px; COLOR: Red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
}
.ErrorMsgLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
}
.CharTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
}


.FeedBackEmpTitle
{
	 FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: verdana; BACKGROUND-COLOR: #e2f0ff; 
}

.FeedBackEmpTableTitle
{
	background-color:#E4EFF5; FONT-WEIGHT: bold;
}
.FeedBackEmpTableRowOdd
{
	background-color:#E4EFF5;
}
.ErrorLink
{
	 FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serifWIDTH: 100%;
}

.FeedBackEmpTable
{
	 FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serifWIDTH: 100%; BORDER-TOP-STYLE: outset; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BORDER-COLLAPSE: collapse; BORDER-BOTTOM-STYLE: outset;
             
}

.FeedBackSuggestions
{
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serifWIDTH: 100%;
}
	.UITableRow
{
	  FONT-SIZE: 8pt; FONT-FAMILY: verdana; BACKGROUND-COLOR: #e2f0ff; 
}
.RemoveFile
{
	font-weight : bold; font-family:Verdana; 
}
.Letters
{
	FONT-SIZE: 11px; font-family :Verdana;
}


#Rptmainmenu td
{
	color:White;
	background-color:#f8f8ff;
	height:10px;	
	border-right:2px;
	letter-spacing:.1em;
}

#Rptmainmenu td A
{
	color:#ccff99;	
	font-size:10px;
	font-family:Tahoma, Arial, Sans-Serif;
	font-weight:600;	
	display:block;
	letter-spacing:0.1em;
}



.selected
{	
	background:#D6EDFC;
	color:Black;	
	font-weight:bold;	
	display:block;
	
}
.middle
{
	color:#ccff99;
	background:#ffeec6;
	height:10px;	
	border-right:2px;
	letter-spacing:.1em;
	border-right:2px solid #ccff99;	
	display:block;
	font-weight:bold;
	text-decoration:none;
}
#filterTable
{
	border-bottom:solid 1px #014E82;
	border-top:solid 1px #014E82;
	border-right:solid 1px #014E82;
	border-left:solid 1px #014E82;
	padding: 0px 2px 4px 2px;
	
	
}


#filterTable td.caption
{
	background:#014E82;	
	height:10px;
	color:White;
	font-weight:bold;
}
#filterTable td
{
	
	height:10px;
	font-weight:bold;
	font-size:10px;
}
#

.topMenuNavsubItem {

      FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center;background-color:#D6EDFC;

}

 

.topMenuNavsubItem1 {

      FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center;border-bottom:#014E82 1px solid;

      border-top:#014E82  1px solid;

      border-right:#014E82  1px solid;

      border-left:#014E82  1px solid;     

      padding:3px 6px 6px 16px;

      background-color:#D6EDFC

}

.PreStatus{
  background-color: Purple ; vertical-align:top;
	
}
.CurrentStatus{
  background-color: Red ; vertical-align:top;
	
}
.PostStatus{
  background-color: Green ; vertical-align:top;
	
}


