BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;FONT-SIZE: 11px;FONT-WEIGHT: bold;
}

.txt2 {
	FONT-SIZE: 11px
}

.txt3 {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.txt1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-ALIGN: center
}

.mainTtl {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left;
}
.yellowbar
{
		background-color: #d6edfc;
}
.txt4
{ margin-left:25px; font-size:11px; font-weight:bold
}
	