/* ######### Matt Black Strip Main Menu Bar CSS ######### */
.mattblackmenu {
text-align:center;
margin-left:20px;
padding-bottom: 5px;

}
.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 12px Arial;
overflow: hidden;
width: 100%;

}

.mattblackmenu li{
display: inline;
margin: 0;

}

.mattblackmenu li a{
float: left;
display: block;
font-weight: bold;
text-decoration: none;
margin: 0;
padding: 0 10px; /*padding inside each tab*/
color: white;
}

.mattblackmenu li a:visited{
color: white;
}

.mattblackmenu li a:hover{
color:#e1e1e1;

}
