 
/*----------------------------------------------------
			       Main CSS for GNIDA 
----------------------------------------------------*/

/* Reset Tags */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
margin : 0;
padding : 0;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
line-height:16px;
font-weight:bold;
}
table {
border-collapse : collapse;
border-spacing : 0;
border : 0;
}
fieldset, img {
border : 0;
}
address, caption, cite, code, dfn, th, var {
font-style : normal;
font-weight : normal;
}
ol, ul {
list-style : none;
}
li{
margin:0;
padding:0;
}
caption, th {
text-align : left;
}
h1, h2, h3, h4, h5, h6 {
font-size : 100%;
font-weight : normal;
}
q:before, q:after {
content : '';
}
abbr, acronym {
border : 0;
}
em {
color : #666666;
}
h1 {
border : none;
}
h2 {
font-family:Arial, Helvetica, sans-serif;
font-size : 17px;
line-height : 18px;
color : #fff;
font-weight:bold;
}
h3 {
font-family:Arial, Helvetica, sans-serif;
font-size : 16px;
line-height : 18px;
font-weight : bold;
color : #000;
}
h4{
font-family:Arial, Helvetica, sans-serif;
font-size:19px;
line-height:20px;
color:#417a08;
font-weight:bold;
}
h5{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
line-height:17px;
font-weight:bold;
color:#787878;
text-decoration:underline;
}
h6{
font-family:Arial, Helvetica, sans-serif;
font-size:28px;
line-height:25px;
font-weight:bold;
color:#787878;
}
p {
font-size:11px;
line-height : 17px;
margin-top : 10px;
margin-bottom : 5px;
color : #333;
text-align : left;
}
p a, p a:active, p a:visited {
text-decoration : underline;
color : #ff6600;
}
p a:hover {
text-decoration : none;
}
img {
border : none;
}
sup {
vertical-align : text-top;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 9px;
color : #333;
}
sub {
font : inherit;
vertical-align : text-bottom;
}
hr {
color : #dcdcdc;
}
body {
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 12px;
color : #333;
margin : 0;
padding : 0;
}

/* Classes starts from here */
.loginBox{
margin-top:100px;
}
.loginBoxleft{
background:url(../images/left_strip.gif) repeat-y left top;
background-color:#FFFFFF
}
.loginBoxright{
background:url(../images/right_strip.gif) repeat-y right top;
background-color:#FFFFFF
}
.loginBoxbottom{
background:url(../images/bottom_strip.gif) repeat-x bottom;
background-color:#FFFFFF;
}
.loginPanel{
border:1px solid #cacaca;
padding:1px;
}
.loginText a{
color:#000000;
text-decoration:underline;
}
.loginText a:hover{
text-decoration:none;
}
.loginText{
padding-left:7px;
font-size:12px
}
.loginPanelInput{
background-color:#ffffea;
border:1px solid #dddddd;
font-size:11px;
padding:2px;
width:150px;
}
.loginPanelbtn{
background-color:#dddddd !important;
border:1px solid #bfbebe;
font-weight:bold;
width:60px;
font-size:11px;
height:18px;
padding-bottom:1px;
letter-spacing:.1em;
}
.loginFooter{
margin-top:70px;
}
.loginFooter td{
color:#FFFFFF;
padding-right:10px;
}
.loginFooterText{
color:#110f0f !important;
}

/* Starting Innerpages*/
.MainTable{
margin-top:1px;
}
.logOut{
margin-right:5px;
color:#FFFFFF;
}
.logOut a{
color:#FFFFFF;
text-decoration:underline;
}
.logOut a:hover{
text-decoration:none;
}
.tickLink {
	FONT-SIZE: 11px; FLOAT: left; MARGIN: 0px 3px 0px 0px; TEXT-TRANSFORM: uppercase; COLOR: #dc9d24; LETTER-SPACING: 1px
}
.tickContent {
	FONT-SIZE: 11px; FLOAT: left; MARGIN: 0px 2px 0px 4px; TEXT-TRANSFORM: uppercase; COLOR: #dc9d24; LETTER-SPACING: 1px; POSITION: absolute; HEIGHT: 15px
}
.tickButton {
	FLOAT: left; MARGIN: 1px; CURSOR: hand; POSITION: absolute
}
#cursor {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 8px; PADDING-TOP: 1px; POSITION: absolute; HEIGHT: 10px
}
.nav{
background:url(../images/nav_bg.gif) repeat-x;
height:40px;
color:#FFFFFF;
text-align:center;
font-weight:bold;
}
.footer{
color:#FFFFFF;
}
.footerText{
color:#110f0f !important;
padding-right:10px;
}
.quotation{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
line-height:16px;
font-weight:bold;
color:#ff0000;
background-color:#f0f0f0;
padding-bottom:3px;
}
.mediatorMain{
border:1px solid #f0f0f0;
margin:5px;
}
.Summary{
text-align:left;
}
.Summary ul{
margin:10px 0;
}
.Summary ul li{
background:url(../images/arrow.gif) no-repeat 0 8px;
padding-left:22px;
line-height:20px;
}
.redColor{
color:#FF0000;
font-weight:bold;
}

/*--------------------------------------
  	    CSS start for Inner pages 
--------------------------------------*/
.MainTableInner{
border:1px solid #f0f0f0;
margin-top:15px;
}
.MainTableInner th{
font-weight:bold;
font-size:13px;
line-height:14px;
padding:3px;
background-color:#f0f0f0;
text-transform:uppercase;
}
.MainTableInner1 th{
font-weight:bold;
font-size:13px;
line-height:14px;
padding:3px;
background-color:#f0f0f0;
text-transform:none;
}
.MainTableInner td{
}
.MainTableInner td table td{
padding:2px;
}
.MainTableInner td table td u{
font-size:11px;
}
.MainTableInner td table td input{
background-color:#ffffea;
border:1px solid #dddddd;
font-size:11px;
height:16px;
color:#555;
}


.MainTableInner td table td select{
border:1px solid #dddddd;
font-size:11px;
height:17px;
color:#555;
}
.radioBtn{
background:none !important;
border:none !important;
margin:2px;
}
.submitbtn{
background-color:#d3d3d3 !important;
border:1px solid #bdbcbc !important;
color:#333 !important;
font-weight:bold;
font-size:11px;
height:18px!important;
padding-bottom:2px;
letter-spacing:.05em;
margin-right:5px;
}
.vacantPlot{
margin:3px 0;
}
.vacantPlot td{
border:1px solid #f0f0f0;
padding:2px;
}
.Breadc{
background-color:#f0f0f0;
padding-left:3px;
color:#666666;
}
.Breadc a{
color:#000000;
text-decoration:none;
}
.Breadc a:hover{
color:#000000;
text-decoration:underline;
}
.grid{
margin:3px 0;
text-align:left;
}
.grid td{
border:1px solid #f0f0f0;
padding:1px;
}
.grid th{
border:1px solid #f0f0f0;
padding:3px;
background-color:White;
text-transform:none;
}
.grid td table td{
border:none
}
.starred{
color:#FF0000
}