﻿/* Ajax Menu Created By Anubhav Jain*/ 

.menulink{padding:5px;  margin: 0px; vertical-align: middle;}

.menuspan{padding-left: 10px; padding-right:15px; padding-top: 5px; padding-bottom: 8px; margin: 0px; vertical-align: middle;  border-right: white 1px solid;}
.menuinspan{ color: #ffffff; font: 90% "Lucida Grande", "Trebuchet MS", Arial, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none; }

img { border:0; }
 
  .menuTd
  {
    height:13px; text-align: left; background-color:#5D5D5D;
  } 
  .menuTd a
  {
    display:block; background: #5D5D5D; width:100%; color:#ffffff; font-weight: bold; text-decoration: none; padding-right:10px; padding-left:4px; padding-top:5px; padding-bottom: 5px;
  }  
  .menuTd a:hover
  {
    display:block; background: #787878; color:#ffffff;
  }  