/* ######### Drop Down ULs CSS ######### */

.ddsubmenustyle, .ddsubmenustyle ul{ /*topmost and sub ULs, respectively*/
font: normal 12px Arial;
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
border: 1px solid black;
border-bottom-width: 0;
visibility: hidden;
text-align:left;
border-bottom: #000000 1px solid;
}


.ddsubmenustyle li a{
display: block;
width:155px; /*width of menu (not including side paddings)*/
color: #ffffff;
background-color: #0099cc;
text-decoration: none;
padding: 4px 5px;

border-bottom: #99cc00 1px solid;
}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
width: 155px; /*width of menu (include side paddings of LI A*/
margin-bottom: -3px;
}
.ddsubmenustyle li a:hover{
background-color: #add8e6;
color: #507CD1;
}

/* ######### Submenu CSS  ######### */

.ddsubmenustyle li ul li a{
display: block;
width: 155px; /*width of menu (not including side paddings)*/
color: #fff;
background-color: #0099cc;
text-decoration: none;
border-bottom: 1px solid black;
}
.ddsubmenustyle li ul li a:hover{
background-color: #add8e6;
color: #507CD1;
}
/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 4px;
border: 0;
}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: absolute;
padding-top: 3px;
left: 100px;
border: 0;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}