
/* Importing all styles here */
/* Importing all styles here */
/* Importing all styles here */


@import url("ddlevelsmenu-base.css");
@import url("ddlevelsmenu-sidebar.css");
@import url("ddlevelsmenu-topbar.css");

#container { 
	width: 80%; 
	background-color: #D1F0FF;
	margin: 0 auto; 
	border: 1px solid #000000;
}
/*EBEBEB*/
#mainmenu { 
	width: 100%; 
	background-color:Gray;
	vertical-align:top;
	height: 30px;
	cellpadding=0;
	cellspacing=0;
}

#subcontainer { 
	width: 100%; 
	background-color: Gray;
}



.contentmain { 
	width: 100%; 
	background-color: #EBEBEB;
	margin: 0 auto; 
	border: 1px;
	align:center;
}


.tablerowcolor
{
background-color: #D1F0FF; /*ADD6FF*/
text-align: left;
font-family:"Times New Roman",Georgia,Serif;
font-size:14px;
}


.heading
{
background-color: Gray;
text-align: center;
font-size:18px;
font-weight:bold;
}

.report
{
/*font-family:"Arial",Georgia,Serif;
font-size:18px;*/
}



.mandatory
{
     font-weight: 700; 
     color: #800000;
}

.tablerowcolorcenter
{
background-color: #D1F0FF; /*ADD6FF*/
text-align: center;
font-family:"Times New Roman",Georgia,Serif;
font-size:14px;
}